*{
	text-decoration: none;
	font-family: "微软雅黑";
}
/*头部样式开始*/
.h-head{
	display: -webkit-box;
	-webkit-box-align: center;
	width:100%;
	height: 46px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: #ed4040;
}
.h-head img{
	width:120px;
	height: 30px;
	margin: 8px auto;
	display: block;
}
/*//头部样式结束*/
/*导航栏样式开始*/
#nav{
	height: 44px;
	width: 100%;
	background:#ccc;
	position: fixed;
	left:0;
	top:46px;
	z-index: 1;
	overflow: hidden;
}
#nav #scoll{
	position:absolute;
	left: 0;
	top: 0;
	width: auto;
}
#nav ul{
	list-style: none;
	height: 44px;
	
}
#nav ul li{
	height:44px;
	float: left;
	font-size: 1.4rem;
	line-height: 10px;
	padding-left: 32px;
	padding-right: 32px;
}
#nav ul li:first-child{
	color: red;
}
#nav ul li:hover{
	cursor: pointer;
}
/*导航栏样式结束*/
/*新闻样式开始*/
#content{
	background: #fff;
	margin-top:90px;
	padding-left:15px;
	
}
.ui-news-li:first-child{
	border: none;
}
.ui-news-li{
	position: relative;
	display: -moz-box;
	display: -webkit-box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	padding: 15px 15px 15px 0;
	border-top: 1px solid red;
}

.ui-news-info{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	line-height: 25px;
}
.ui-news-info h3,.ui-news-info .f01{
	overflow:hidden;
	text-overflow: ellipsis;	
}
.ui-news-info h3{
	font-weight:bold;
	font-size: 1.5rem;
	color: #333;
	max-width: 500px;
}
.ui-news-info .f01{
	font-size: 1rem;
	color: #999;
}
.ui-news-li img{
	border-radius: 20px;
	margin-top: 15px;
	
}
/*新闻样式结束*/
/*/指示器样式*/

.moon {
  position: absolute;
  top: 0;
  right: 0;
}
.container {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.person {
  position: absolute;
  height: 75px;
  width: 0;
  color: #fff;
  left: 150px;
  top: 159px;
  transform-origin: 50% 50% 0px;
  -webkit-animation: sprint 2s infinite ease-in;
}
.person .head:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -6px;
  height: 2.7px;
  width: 42px;
  border-radius: 20%;
  border: 4px solid green;
  background-color: #fff;
  transform-origin: 50% 100% 0px;
  z-index: 90;
}
.person .head {
  position: absolute;
  top: -30px;
  left: -6px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 4px solid green;
  transform-origin: 50% 100% 0px;
  z-index: 90;
  -webkit-animation: bob 2s infinite alternate;
}
.person .head:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 9px;
  height: 12px;
  width: 15px;
  border-radius: 30%;
  border: 4px solid black;
  background-color: #fff;
  z-index: 90;
}
.person .torso {
  position: absolute;
  height: 60px;
  width: 0;
  border-left: 2px solid black;
  left: 0px;
  top: 15px;
  z-index: 90;
}
.person .part {
  position: absolute;
  left: 0;
  top: 75px;
  z-index: 90;
}
.person .part.arm {
  position: absolute;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  height: 45px;
  width: 39px;
  top: 15px;
  right: 300px;
  transform-origin: 0% 0% 0px;
  -webkit-animation: pump 1s infinite ease-in-out;
}
.person .part.arm.one {
  transform: rotate3d(0, 0, 1, -90deg);
}
.person .part.arm.two {
  transform: rotate3d(0, 0, 1, -90deg);
  animation-delay: .5s;
}
.person .part.leg {
  height: 57px;
  width: 60px;
  border-right: 3px solid black;
  border-top: 3px solid black;
  -webkit-animation: run 1s infinite ease-in;
  transform-origin: 0% 0% 0px;
}
.person .part.leg.one {
  transform: rotate3d(0, 0, 1, 90deg);
}
.person .part.leg.two {
  transform: rotate3d(0, 0, 1, 80deg);
  animation-delay: .5s;
}
.person .part .foot {
  position: absolute;
  top: 90px;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: #ffffff;
  z-index: 900;
  border: 3px solid red;
}
@keyframes run {
  0% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 150deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
}
@keyframes bob {
  0% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, -30deg) skew(15deg, 0deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, -30deg) skew(15deg, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 20deg) skew(-15deg, 0deg);
  }
}
@keyframes pump {
  0% {
    transform: rotate3d(0, 0, 1, 80deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, -70deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 80deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate3d(0, 0, 1, -180deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, -100deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 100deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
}
@keyframes sprint {
  0% {
    transform-origin: 50% 50% 0px;
    transform: translate(-500px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
    transform-origin: 50% 50% 0px;
    transform: translate(500px, 0px);
  }
}
/*//加载*/
#more{
	width: 50%;
	height: 46px;
	background: #ED4040;
	margin: 0 auto;
	text-align: center;
	font-size:18px;
	color: white;
	line-height: 46px;
	border-radius:20px ;
	font-weight: bold;
}
